.to-do-list{
    font-family: monospace;
    text-align: center;
    margin-top: 50px;
}
h1{
    font-size: 2.2rem;
}
button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-button{
    background-color: rgb(73, 241, 185);
}
.add-button:hover{
    background-color: rgb(116, 192, 167);
}
.delete-button{
    background-color: rgb(196, 61, 38);
}
.delete-button:hover{
    background-color: rgb(139, 44, 27);
}
.move-button{
    background-color: rgb(83, 130, 216);
}
.move-button:hover{
    background-color: rgb(63, 99, 165);
}
input[type="text"]{
    font-size: 1.4rem;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
}
ol{
    padding: 0;
}
li{
    font-size: 1.4rem;
    font-weight: 700;
    padding: 15px;
    background-color: azure;
    margin-bottom: 8px;
    border: 2px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    /* flex-grow:1;
    flex-shrink: 1;
    flex-basis: 0%; */
    flex: 1;
}
.delete-button, .move-button{
    padding: 8px 12px;
    margin-left: 8px;
}
